@import "abstracts/settings";
@import 'base/all';
@import "abstracts/mixins";

body {
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  line-height: 1.45;
  font-style: italic;
  font-weight: 600;
  background-color: $white;
  color: $color-text;
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  //min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 144px;
}

img {
  max-width: 100%;
  height: auto;
}

a{
  color: $primary;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
}

p {
  @include app-margin;
}

.navigation {
  @include app-margin;
}

figure {
  position: relative;

  figcaption {
    position: absolute;
    font-size: 36px;
    text-align: center;
    top: 45%;
    left: 0;
    right: 0;
    font-weight: 700;
    font-style: italic;
    color: rgba(255,255,255, .75);
  }
}

.is-primary {
  color: $primary;
}

.title {
  color: $text;
}

.has-bg {
  background-color: $color-background;
}
