@import "abstracts/settings";
@import 'base/all';
@import "abstracts/mixins";

html {
  background-color: $white-ter;
}
body {
  font-family: 'EB Garamond', serif;
  line-height: 1.45;
  font-style: italic;
  font-weight: $weight-normal;
  background-color: $white;
  color: $color-text;
  max-width: 1280px;
  margin: 0 auto;
  font-size: 20px;
}

.container {
  //min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 144px;
}

img {
  max-width: 100%;
  height: auto;
}

a{
  color: $primary;
  text-decoration: none;
  font-weight: $weight-bold;
  font-size: 20px;
  @include tablet {
    font-size: 24px;
  }
}

figure {
  position: relative;

  figcaption {
    position: absolute;
    font-size: 36px;
    text-align: center;
    top: 65%;
    left: 0;
    right: 0;
    font-weight: $weight-bold;
    font-style: italic;
    color: rgba(255,255,255, .75);

    @include desktop {
      font-size: 72px;
    }
  }
}

.is-primary {
  color: $primary;
}

.title {
  color: $text;
}

.has-bg {
  background-color: $color-background;
}

.mood {
  width: 100%;
  padding-bottom: $padding-desktop;
}